.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
env/
.venv/
venv/
*.db
*.duckdb
*.sqlite
*.log
*.csv
*.parquet
*.h5
*.bin
*.pt
*.pth
node_modules/
.cache/
local_data/
uploads/
tmp/
analytics-data
.vscode
data