/* src/components/home/HeroSection.module.css */
@keyframes logo-marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.animate-logo-marquee {
  animation: logo-marquee 30s linear infinite;
  display: flex;
  align-items: center;
}